services:
  frontend:
    build:
      context: .
      dockerfile: ./frontend/dockerfile
    ports:
      - 5173:5173
    container_name: frontend-vue
    restart: always
    # depends_on:
    #   - geoserver
    #   - backend

  backend:
    build:
      context: .
      dockerfile: ./backend/dockerfile
    ports:
      - 5000:5000
    container_name: backend-flask
    restart: always
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
    depends_on:
      - geoserver

  geoserver:
    image: kartoza/geoserver
    ports:
      - 8082:8080
    volumes:
      - ./data_geoserver:/opt/geoserver/data_dir
    container_name: geoserver
    restart: always
    environment:
      - GEOSERVER_ADMIN_USER=geoserver
      - GEOSERVER_ADMIN_PASSWORD=geoserver
    depends_on:
      - postgis

  postgis:
    image: postgis/postgis
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres
    container_name: postgis
    restart: always
    volumes:
      - dados_geoserver:/var/lib/postgresql/data

volumes:
  dados_geoserver:
  cache_flask:
